.f-regular{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.f-medium{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.f-bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.font-s{
    font-size: 14px;
}

/*Margins*/

.m-b-0{
    margin-bottom: 0;
}

.m-b-2{
    margin-bottom: .7rem;
}

.m-t-4{
    margin-top: 1rem;
}

.m-t-8{
    margin-top: 2rem;
}

/*Paddings*/

.pt-0{
    padding-top: 0;
}

.pb-0{
    padding-bottom: 0;
}

.line-h{
    line-height: 2.0;
}

.youtube-color{
    color: #FF0000;
}

.facebook-color{
    color: #4267B2;
}

.whatsapp-color{
    color: #128C7E;
}

.logo{
    width: 5rem;
}

.img-banner{
    filter: brightness(70%);
}

.text-align-center{
    text-align: center;
}


@media (min-width: 992px) {

    .w-md-50{
        width: 40%;
    }
}
